<%= simple_form_for @aircraft, defaults: { wrapper_html: { class: "col-12" } } do |f| %>
    <%= f.association :manufacturer,
        label: "Manufacturer",
        error: "Manufacturer must be chosen!",
        collection: Manufacturer.all.order(name: :asc),
        label_method: :name,
        prompt: "-Choose a Manufacturer-" %>
    <%= f.input :registration,
        label: "Registration Number (Example: PK-AAZ, HB-SAD)",
        error: "Registration Number must be filled with 3 to 6 characters!",
        input_html: { maxlength: 6 } %>
    <%= f.input :model,
        label: "Aircraft Model (Ex: 737-800, A330NEO, CRJ700)",
        error: "ICAO Code must be filed with 3 letters!" %>
    <div class="col-12">
        <%= f.button :submit, "Create Data", class: "btn btn-primary" %>
        <%= f.button :button, "Reset Form",
            type: :reset, class: "btn btn-danger" %>
    </div>
<% end %>